<h1>Admin Dashboard#show</h1>
#<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<br>

<table>

  <thread>
  <tr>
    <th>Categories</th>
    <td><a href="/admin/categories"><%= @category.length %></a></td>
  <tr>
  </thread>



<tfoot>
    <tr>
      <th>Total Number of Products</th>
      <td><a href="/admin/products"><%= @product.length %></a></td>
    </tr>
  </tfoot>
</table>
