<h1> Categories </h1>

<br>

<div class="new_cat_for_admin">
    <%= link_to '+ New Category', new_admin_category_path, class: 'btn btn-info' %>
</div>

<table class="table table-bordered">

  <thread>
    <tr>
      <th>Categories</th>
      <th>Number of Products</th>
    </tr>
  </thread>

  <tbody>
  <% @categories.each do |category| %>
    <%= render "category_count", category: category%>
  <% end %>
  </tbody>
</table>
